{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'branches/css/branches.css' %}">
    <link href="{% static 'branches/css/kendo.common.min.css' %}" rel="stylesheet">
    <link href="{% static 'branches/css/kendo.rtl.min.css' %}" rel="stylesheet">
    <link href="{% static 'branches/css/kendo.bootstrap-v4.min.css' %}" rel="stylesheet">
    <link href="{% static 'branches/css/kendo.bootstrap.mobile.min.css'%}" rel="stylesheet">
    <title>Amazing Co Offices</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <a class="navbar-brand mr-auto" href="#">
                Amazing Co Offices
            </a>
        </nav>
    </header>
    <div class="container-fluid p-5 mt-5">
        <div class="row">
            <div class="col-auto">
                <div id="office-tree"></div>
            </div>
        </div>

    </div>
    <script id="node-template" type="text/x-kendo-template">

    </script>
    <script src="{% static 'branches/js/jquery.min.js' %}"></script>
    <script src="{% static 'branches/js/popper.min.js' %}"></script>
    <script src="{% static 'branches/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'branches/js/kendo.all.min.js' %}"></script>
    <script src="{% static 'branches/js/branches.js' %}"></script>
</body>
</html>